<!-- pages/imprimer_demande.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impression Demande</title>
    <!-- Ajoutez vos styles CSS ici si nécessaire -->
</head>
<body>
    <h1>Impression Demande</h1>
    <p>Date de Demande: {{ demande.date_poste_demande }}</p>
    <p>Etudiant: {{ demande.etudiant }}</p>
    <p>Objet de Demande: {{ demande.objet_demande }}</p>
    <!-- Ajoutez d'autres détails de la demande ici -->
</body>
</html>
